.bill .countinue {
    border: none;
    background-color: #8bd4e5;
    padding: 2%;
    color: #ffffff;
    border-radius: 10px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

.bill .countinue:hover {
    border: 2px solid #8bd4e5;
    background-color: #ffffff;
    color: #3fa8c0;
}

.addresses {
    margin-top: 2%;
}

#addNewAddressForm .address input{
    margin: 2%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.addresses .allAddresses {
    border: 1px solid #0000005d;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000049;
}

.addresses .allAddresses .userAddress {
    margin-bottom: 3%;
    color: #0000007c;
}

.selectedAddress {
    color: #000000;
}

.addresses .addNewAddress {
    border: 1px dashed #2c2b2b;
}

.addresses .addNewAddress a {
    color: #000000;
    text-decoration: none;
    padding: 5%;
}

.address .addresses .userAddress input,.userAddress i {
    cursor: pointer;
}

.razorpay-payment-button {
    background-color: transparent;
    border: none;
}