.bill {
    margin-top: 6%;
    /* border: 1px solid #00000077; */
    border-radius: 15px;
    background-color: #ebe9e977;
    padding: 5%;
    height: fit-content;
    padding-bottom: 5%;
}

.bill .billDetail, .totalAmount {
    font-weight: bolder;
}

.bill .row .mrp, .discountMRP, .platformFee, .shippingFee, .amount {
    text-align: end;
}

.bill .discountMRP, .shippingFee {
    color: #00000077;
}

.placeButton, .countinue {
    text-align: center;
}
